<% title @movie.name -%>
<div id="content" class="sidebar three_col">
  <div id="page">
    <%= render :partial => 'movies/header' %>
    <div class="details">
      <% if @review.reviewed? %>
        <h3><%= h @review.title %> (<%= @review.rating %>/10)</h3>
        <span class="status">
          Review by <%= link_to @review.user.username, user_path(@review.user) %> on <%= @review.created_at %>.
        </span>
        <div>
          <%= simple_format(sanitize(@review.review, :tags => ALLOWED_HTML_TAGS )) %>
        </div>
      <% end %>

      <% if me?(@review.user) %>
        <%= button_to "Edit this Review", edit_movie_review_path(@movie, @review), :method => :get %>
      <% end %>
    </div>
  </div>

  <div id="subpage">
    <%= render :partial => "user_reviews/sidebar", :locals => { :user => @review.user } %>
  </div>
</div>