<%- title "Countries" %>
<div id="content" class="single_col">
  <table cellpadding="0" cellspacing="0">
    <caption>Countries</caption>

    <col<%= column_class_for("name") %>/>
    <col<%= column_class_for("abbreviation") %>/>
    <col<%= column_class_for("count") %>/>
  
    <thead>
      <tr>
        <th><%= link_to "Name", countries_path(:order=>"name", :direction=>direction_for("name")) %></th>
        <th><%= link_to "Abbreviation", countries_path(:order=>"abbreviation", :direction=>direction_for("abbreviation")) %></th>
        <th><%= link_to "Number of Movies", countries_path(:order=>"count", :direction=>direction_for("count")) %></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => @countries %>
    </tbody>
  </table>

  <p>Total languages: <%= @countries.total_entries%> Found</p>
  <div><%= will_paginate @countries %></div>
</div>