<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <% title = yield :title %>
    <title><%=  title || "MovieFly - Last.fm for Movies" %><%= " at #{APP_CONFIG[:site_name]}" if title %></title>
  	<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
  	<%= stylesheet_link_merged :moviefly -%>
  	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/redmond/jquery-ui.css" type="text/css" media="screen" />
    
  	<%= yield :header %>
  </head>

  <body>
  	<div id="container">
  	  
  		<div id="header" class="ui-corner-all ui-widget">
      	<div id="logo">
      		<a href="/" class="ui-corner-all">Movie<span class="highlight">Fly</span>.org</a>
      	</div>
      	<div id="user_controls">
      	  <% if logged_in? %>
      	    <p>You're logged in as <%= link_to current_user.username, user_path(current_user) %>. <%= link_to "Logout?", logout_path %></p>
      	  <% else %>
      	    <ul class="nav">
      			  <%= menu_link 'Sign in or Signup', signup_path, { :a_class => "ui-corner-all" } %>
      			</ul>
      	  <% end %>
      	</div>

      	<ul id="menu" class="nav">
      	  <li>
        	  <%= link_to 'Movies', movies_path, :class => "ui-corner-all" %>
        	  <ul class="ui-corner-all">
        	    <li><%= link_to 'All Movies', movies_path, :class => "ui-corner-tl ui-corner-tr" %></li>
        	    <li class="divider"><%= link_to 'In Theaters', movies_path %></li>
        	    <li><%= link_to 'On DVD', movies_path %></li>
        	    <li><%= link_to 'Near Me', movies_path %></li>
        	    <li class="divider"><%= link_to 'All Genres', movies_path %></li>
        	    <li><%= link_to 'All Languages', movies_path %></li>
        	    <li><%= link_to 'All Countries', movies_path, :class => "ui-corner-bl ui-corner-br" %></li>
      	    </ul>
          </li>
      	  <%= menu_link 'Top 100', movies_path, { :a_class => "ui-corner-all" } %>
      		<% if logged_in? %>
        	  <li>
        	    <%= link_to "Your Account", user_path(current_user), :class => "ui-corner-all" %>
          	  <ul class="ui-corner-all">
            	  <li><%= link_to 'My Movies', user_movies_path(current_user), :class => "ui-corner-tl ui-corner-tr" %>
              	<li><%= link_to 'Recommendations', "/" %>
          	    <li><%= link_to 'Rate Movies', movies_path %></li>
          	    <li><%= link_to 'Your Lists', movies_path %></li>
          	    <li><%= link_to 'Your Reviews', movies_path %></li>
          	    <li><%= link_to 'Your Friends', movies_path %></li>
          	    <li><%= link_to 'Your Friends Reviews', movies_path %></li>
          	    <li><%= link_to 'Edit Your Profile', movies_path, :class => "ui-corner-bl ui-corner-br" %></li>
        	    </ul>
        	  </li>
      		<% end %>
      	</ul>

      	<div id="search_wrapper">
      		<form method="get" action="/movies">
      			<label for="search">Search for a movie...</label>
      			<input type="text" class="text ui-widget-content ui-corner-all" name="search" id="search" value="search for a movie..." onfocus="if(this.value=='search for a movie...') this.value=''" onblur="if(this.value=='') this.value='search for a movie...';" />
      			<input type="submit" value="search" id="searchsubmit" class="ui-button ui-state-default ui-corner-all" />
      		</form>
      	</div>
      </div>
      
  		<%= yield :layout %>
  		
			<div id="footer">
    		<p>
    			Copyright &copy; MovieFly.org
    		</p>
    		<ul class="nav">
    		  <%= menu_link 'Genres', tags_path, { :a_class => "ui-corner-all" } %>
      	  <%= menu_link 'Countries', countries_path, { :a_class => "ui-corner-all" } %>
      	  <%= menu_link 'Languages', languages_path, { :a_class => "ui-corner-all" } %>
      	</ul>
    	</div>
    </div>

    <div>
      <span id="rating_suggestion"></span>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>
    <% javascript_file "application.js" %>
    
  	<%= yield :javascript -%>
  	<%= javascript_onloads(yield :javascript_onload) %>
  </body>
</html>